@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

:root {
  font-family: "Poppins";
  background-color: #f0f0f0;
}

.custom-label {
  @apply block mb-2 font-bold tracking-[0.2em] text-gray-500;
}

.date-input {
  @apply h-[4.5rem] mb-2 px-6 text-4xl font-bold placeholder-gray-400 rounded-lg w-44 ring-1 ring-inset ring-gray-300 focus:ring-customPurple hover:ring-customPurple focus:ring-2 focus-visible:outline-none;
}

.arrow-button {
  @apply absolute right-0 flex items-center justify-center w-24 h-24 transition-all duration-300 rounded-full -bottom-12 bg-customPurple hover:bg-black active:bg-gray-600;
}